.centered-form {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.form-container {
    display: inline;
    padding: 40px;
    width: 430px; 
    height: 480px;
    background-color: white; 
    backdrop-filter: blur(1px);
    font-family: 'Montserrat', sans-serif; 
    font-size: 17px; 
    line-height: 1; 
    border-radius: 15px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

